CONFIG_ARM_ROCKCHIP_CPUFREQ=y
# CONFIG_VIDEO_MAX96712 is not set
CONFIG_DRM_ROCKCHIP=y
CONFIG_DRM=y
CONFIG_CLK_RK3568=y
CONFIG_CPU_RK3568=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_ROCKCHIP_PM_DOMAINS=y
CONFIG_ROCKCHIP_RKNPU=y
CONFIG_MALI_BIFROST=y
CONFIG_MALI_PLATFORM_NAME="rk"
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=y
