// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Standardized DTS for Acropi RK3566 - Binning Compliant
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/rk3568-cru.h>
#include <dt-bindings/power/rk3568-power.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3566.dtsi"

/ {
	model = "Acropi RK3566 Board";
	compatible = "rockchip,rk3566-acropi", "rockchip,rk3566";

	aliases {
		mmc0 = &sdhci;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		isp_reserved: isp-reserved {
			compatible = "shared-dma-pool";
			reusable;
			linux,cma-default;
			size = <0x0 0x10000000>;
		};
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	/* 1.8GHz Full Table (OTP Enabled) */
	cpu0_opp_table: opp-table-0 {
		compatible = "operating-points-v2";
		opp-shared;

		nvmem-cells = <&cpu_leakage>, <&core_pvtm>, <&mbist_vmin>, <&cpu_opp_info>,
			      <&specification_serial_number>, <&remark_spec_serial_number>;
		nvmem-cell-names = "leakage", "pvtm", "mbist-vmin", "opp-info",
				   "specification_serial_number", "remark_spec_serial_number";
		rockchip,supported-hw;

		opp-408000000 {
			opp-hz = /bits/ 64 <408000000>;
			opp-microvolt = <850000 850000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
			opp-microvolt = <850000 850000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-816000000 {
			opp-hz = /bits/ 64 <816000000>;
			opp-microvolt = <850000 850000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-1104000000 {
			opp-hz = /bits/ 64 <1104000000>;
			opp-microvolt = <900000 900000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-1416000000 {
			opp-hz = /bits/ 64 <1416000000>;
			opp-microvolt = <1025000 1025000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-1608000000 {
			opp-hz = /bits/ 64 <1608000000>;
			opp-microvolt = <1100000 1100000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-1800000000 {
			opp-hz = /bits/ 64 <1800000000>;
			opp-microvolt = <1150000 1150000 1180000>;
			clock-latency-ns = <40000>;
		};
	};
};

&power {
	power-domain@RK3568_PD_VPU {
		reg = <RK3568_PD_VPU>;
		clocks = <&cru HCLK_VPU_PRE>, <&cru ACLK_VPU_PRE>;
	};

	power-domain@RK3568_PD_RGA {
		reg = <RK3568_PD_RGA>;
		clocks = <&cru HCLK_RGA_PRE>, <&cru PCLK_RGA_PRE>, <&cru ACLK_RGA_PRE>;
	};

	power-domain@RK3568_PD_RKVDEC {
		reg = <RK3568_PD_RKVDEC>;
		clocks = <&cru HCLK_RKVDEC_PRE>, <&cru ACLK_RKVDEC_PRE>;
	};

	power-domain@RK3568_PD_RKVENC {
		reg = <RK3568_PD_RKVENC>;
		clocks = <&cru HCLK_RKVENC_PRE>, <&cru ACLK_RKVENC_PRE>;
	};
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_xfer>;
	u-boot,dm-spl;

	vdd_cpu: tcs4525@1c {
		compatible = "tcs,tcs4525";
		reg = <0x1c>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "fan53555-reg";
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1180000>;
		regulator-init-microvolt = <900000>;
		regulator-ramp-delay = <2300>;
		fcs,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	pmic: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		u-boot,dm-spl;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l>;
		rockchip,system-power-controller;
		wakeup-source;

		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-name = "vdd_gpu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_npu: DCDC_REG4 {
				regulator-name = "vdd_npu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG5 {
				regulator-name = "vcc_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_image: LDO_REG1 {
				regulator-name = "vdda0v9_image";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-name = "vdda_0v9";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-name = "vdda0v9_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_acodec: LDO_REG4 {
				regulator-name = "vccio_acodec";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-name = "vccio_sd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-name = "vcc3v3_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca_1v8: LDO_REG7 {
				regulator-name = "vcca_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pmu: LDO_REG8 {
				regulator-name = "vcca1v8_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcca1v8_image: LDO_REG9 {
				regulator-name = "vcca1v8_image";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3: SWITCH_REG1 {
				regulator-name = "vcc_3v3";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_sd: SWITCH_REG2 {
				regulator-name = "vcc3v3_sd";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&otp {
	status = "okay";
};

&pinctrl {
	pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins = <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	camera {
		ucam_pins: ucam-pins {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>,
					<4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pmu_io_domains {
	status = "okay";
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vcc_3v3>;
	vccio2-supply = <&vcc_1v8>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_3v3>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_1v8>;
	vccio7-supply = <&vcc_3v3>;
};

&io_domains {
	status = "disabled";
};

&tsadc {
	status = "okay";
	rockchip,hw-tshut-mode = <1>;
	rockchip,hw-tshut-polarity = <0>;
};

&soc_thermal {
	trips {
		cpu_target: cpu-target {
			temperature = <75000>;
			hysteresis = <2000>;
			type = "passive";
		};
	};

	cooling-maps {
		map0 {
			trip = <&cpu_target>;
			cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					 <&cpu1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					 <&cpu2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					 <&cpu3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
		};
	};
};

&rknpu {
	clocks = <&cru CLK_NPU>, <&cru ACLK_NPU>, <&cru HCLK_NPU>;
	clock-names = "clk", "aclk", "hclk";
	rknpu-supply = <&vdd_npu>;
	interrupt-names = "npu_irq";
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	max-frequency = <200000000>;
	non-removable;
	supports-emmc;
	no-1-8-v;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_1v8>;
	assigned-clocks = <&cru BCLK_EMMC>, <&cru TCLK_EMMC>, <&cru CCLK_EMMC>;
	assigned-clock-rates = <200000000>, <24000000>, <200000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_datastrobe>;
	status = "okay";
};

&rkisp {
	status = "okay";
	memory-region = <&isp_reserved>;
};

&rkisp_mmu {
	status = "disabled";
};

&mipi_csi2_hw {
	status = "disabled";
};

&mipi_csi2 {
	status = "disabled";
};

&rkcif {
	status = "disabled";
};

&rkcif_mmu {
	status = "disabled";
};

&rkcif_mipi_lvds {
	status = "disabled";
};

&rkcif_mipi_lvds_sditf {
	status = "disabled";
};

&rkisp_vir0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			isp_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&csi_dphy1_out>;
			};
		};
	};
};

&mpp_srv {
	status = "okay";
	rockchip,grf = <&grf>;
	memory-region = <&isp_reserved>;
	power-domains = <&power RK3568_PD_VPU>;
};

&vpu {
	status = "disabled";
};

&rkvenc {
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&rk_rga {
	status = "okay";
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "disabled";
};

&csi2_dphy1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy1_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&ucam_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy1_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp_in>;
			};
		};
	};
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m0_xfer>;

	ucam: camera@36 {
		compatible = "ovti,ov5695";
		reg = <0x36>;
		status = "okay";
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "TongJu";
		rockchip,camera-module-lens-name = "CHT842-MD";
		
		/* Polarity alignment with extracted.dts */
		reset-gpios = <&gpio4 13 1>; /* RK_PB5, ACTIVE_LOW */
		pwdn-gpios = <&gpio4 12 0>;  /* RK_PB4, ACTIVE_HIGH */
		power-gpios = <&gpio0 8 0>;   /* RK_PB0, ACTIVE_HIGH */
		
		clocks = <&cru CLK_CIF_OUT>;
		clock-names = "xvclk";
		assigned-clocks = <&cru CLK_CIF_OUT>;
		assigned-clock-rates = <24000000>;
		power-domains = <&power RK3568_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&cif_clk>; /* Use standard CIF clock pinctrl */

		port {
			ucam_out: endpoint {
				remote-endpoint = <&csi_dphy1_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

&usb2phy1 {
	status = "okay";
};

&u2phy1_host {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

&usbhost_dwc3 {
	status = "okay";
};

&u2phy0_host {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usb2phy0 {
	status = "okay";
	phy-supply = <&vcc5v0_sys>;
};

&u2phy0_otg {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "otg";
	maximum-speed = "high-speed"; 
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;   
	snps,dis-u2-freeclk-exists-quirk;
	snps,dis_enblslpm_quirk;
	snps,dis-u1u2-quirk;
	snps,dis-del-phy-power-chg-quirk;
	snps,dis-tx-ipgap-linecheck-quirk;
	snps,dis_rxdet_inp3_quirk;
	snps,xhci-trb-ent-quirk;
};

&spi1 {
	status = "okay";
	pinctrl-names = "default", "high_speed";
	pinctrl-0 = <&spi1m0_cs0 &spi1m0_cs1 &spi1m0_pins>;
	pinctrl-1 = <&spi1m0_cs0 &spi1m0_cs1 &spi1m0_pins_hs>;
	dmas = <&dmac0 22>, <&dmac0 23>;
	dma-names = "tx", "rx";
	max-freq = <48000000>;

	spidev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};

	spidev@1 {
		compatible = "rockchip,spidev";
		reg = <1>;
		spi-max-frequency = <1000000>;
	};
};

&spi3 {
	status = "okay";
	pinctrl-names = "default", "high_speed";
	pinctrl-0 = <&spi3m1_cs0 &spi3m1_pins>;
	pinctrl-1 = <&spi3m1_cs0 &spi3m1_pins_hs>;
	dmas = <&dmac0 26>, <&dmac0 27>;
	dma-names = "tx", "rx";
	max-freq = <48000000>;

	spidev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m0_xfer>;
	clock-frequency = <800000>;
};

&cpu0 {
	device_type = "cpu";
	clocks = <&cru ARMCLK>;
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu0_opp_table>;
	#cooling-cells = <2>;
	/delete-property/ cpu-idle-states;
};

&cpu1 {
	device_type = "cpu";
	clocks = <&cru ARMCLK>;
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu0_opp_table>;
	#cooling-cells = <2>;
	/delete-property/ cpu-idle-states;
};

&cpu2 {
	device_type = "cpu";
	clocks = <&cru ARMCLK>;
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu0_opp_table>;
	#cooling-cells = <2>;
	/delete-property/ cpu-idle-states;
};

&cpu3 {
	device_type = "cpu";
	clocks = <&cru ARMCLK>;
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu0_opp_table>;
	#cooling-cells = <2>;
	/delete-property/ cpu-idle-states;
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer>;
	dmas = <&dmac0 0>, <&dmac0 1>;
	dma-names = "tx", "rx";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer>;
	dmas = <&dmac0 2>, <&dmac0 3>;
	dma-names = "tx", "rx";
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m0_xfer>;
	dmas = <&dmac0 4>, <&dmac0 5>;
	dma-names = "tx", "rx";
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m1_xfer>;
	dmas = <&dmac0 6>, <&dmac0 7>;
	dma-names = "tx", "rx";
};
