// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Standardized DTS for Acropi RK3566 - Binning Compliant
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/rk3568-cru.h>
#include <dt-bindings/power/rk3568-power.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include "rk3566.dtsi"


/ {
	model = "Acropi RK3566 Board";
	compatible = "rockchip,rk3566-acropi", "rockchip,rk3566";

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm5 0 25000 0>; // PWM5, 周期 25000ns (40kHz)

		/* 如果电路中有背光 IC 的 Enable 脚，必须配置这行 */
		enable-gpios = <&gpio4 RK_PC6 GPIO_ACTIVE_HIGH>;

		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <255>;
		pinctrl-names = "default";
		pinctrl-0 = <&bl_en_gpio>;
	};

	backlight_edp: backlight-edp {
		compatible = "pwm-backlight";
		pwms = <&pwm4 0 25000 0>;
		brightness-levels = <0 4 8 12 16 20 24 28
				     32 36 40 44 48 52 56 60
				     64 68 72 76 80 84 88 92
				     96 100 104 108 112 116 120 124
				     128 132 136 140 144 148 152 156
				     160 164 168 172 176 180 184 188
				     192 196 200 204 208 212 216 220
				     224 228 232 236 240 244 248 252
				     255>;
		default-brightness-level = <50>;
		power-supply = <&vcc3v3_sys>;
	};

	panel_edp: panel-edp {
		status = "disabled";
		compatible = "simple-panel";
		backlight = <&backlight_edp>;
		power-supply = <&vcc3v3_sys>;
		enable-gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
		prepare-delay-ms = <120>;
		enable-delay-ms = <120>;
		pinctrl-names = "default";
		pinctrl-0 = <&edp_en_gpio>;
		connector-type = <14>; /* DRM_MODE_CONNECTOR_eDP */
		bpc = <8>;

		panel-timing {
			// clock-frequency = <150000000>;
			// hactive = <1920>;
			// vactive = <1080>;
			// hfront-porch = <48>;
			// hsync-len = <32>;
			// hback-porch = <200>;
			// vfront-porch = <3>;
			// vsync-len = <6>;
			// vback-porch = <51>;
			// hsync-active = <0>;
			// vsync-active = <0>;
			// de-active = <0>;
			// pixelclk-active = <0>;
			clock-frequency = <150000000>;
			hactive = <1920>;
			vactive = <1080>;
			hfront-porch = <48>;      /* Restore standard typical value */
			hsync-len = <32>;         /* Restore standard typical value */
			hback-porch = <200>;      /* Typical 200 pixels, providing ample sample preparation time for TCON */
			vfront-porch = <3>;       /* Keep at 3 */
			vsync-len = <6>;          /* Restore typical value 6 */
			vback-porch = <36>;       /* Set to 36, Vtotal = 1125, within specifications safety range 1112~1238 */
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <0>;          /* Fixed: DE signal active high */
			pixelclk-active = <0>;
		};

		port {
			panel_in_edp: endpoint {
				remote-endpoint = <&edp_out_panel>;
			};
		};
	};

	aliases {
		mmc0 = &sdhci;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Dedicated default CMA pool for general devices like MPP, restricted to low physical memory (< 4GB) */
		default_cma: default-cma {
			compatible = "shared-dma-pool";
			reusable;
			linux,cma-default;
			size = <0x0 0x8000000>; /* 128 MB */
			alloc-ranges = <0x0 0x0 0x0 0xf0000000>; /* Restricted to under 3.75 GB */
		};

		/* Dedicated private CMA pool for ISP */
		isp_reserved: isp-reserved {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x10000000>; /* 256 MB */
		};
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	/* 1.8GHz Full Table (OTP Enabled) */
	cpu0_opp_table: opp-table-0 {
		compatible = "operating-points-v2";
		opp-shared;

		nvmem-cells = <&cpu_leakage>, <&core_pvtm>, <&mbist_vmin>, <&cpu_opp_info>,
			      <&specification_serial_number>, <&remark_spec_serial_number>;
		nvmem-cell-names = "leakage", "pvtm", "mbist-vmin", "opp-info",
				   "specification_serial_number", "remark_spec_serial_number";
		rockchip,supported-hw;

		opp-408000000 {
			opp-hz = /bits/ 64 <408000000>;
			opp-microvolt = <850000 850000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
			opp-microvolt = <850000 850000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-816000000 {
			opp-hz = /bits/ 64 <816000000>;
			opp-microvolt = <850000 850000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-1104000000 {
			opp-hz = /bits/ 64 <1104000000>;
			opp-microvolt = <900000 900000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-1416000000 {
			opp-hz = /bits/ 64 <1416000000>;
			opp-microvolt = <1025000 1025000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-1608000000 {
			opp-hz = /bits/ 64 <1608000000>;
			opp-microvolt = <1100000 1100000 1180000>;
			clock-latency-ns = <40000>;
		};

		opp-1800000000 {
			opp-hz = /bits/ 64 <1800000000>;
			opp-microvolt = <1150000 1150000 1180000>;
			clock-latency-ns = <40000>;
		};
	};
};

&power {
	power-domain@RK3568_PD_VPU {
		reg = <RK3568_PD_VPU>;
		clocks = <&cru HCLK_VPU_PRE>, <&cru ACLK_VPU_PRE>;
	};

	power-domain@RK3568_PD_RGA {
		reg = <RK3568_PD_RGA>;
		clocks = <&cru HCLK_RGA_PRE>, <&cru PCLK_RGA_PRE>, <&cru ACLK_RGA_PRE>;
	};

	power-domain@RK3568_PD_RKVDEC {
		reg = <RK3568_PD_RKVDEC>;
		clocks = <&cru HCLK_RKVDEC_PRE>, <&cru ACLK_RKVDEC_PRE>;
	};

	power-domain@RK3568_PD_RKVENC {
		reg = <RK3568_PD_RKVENC>;
		clocks = <&cru HCLK_RKVENC_PRE>, <&cru ACLK_RKVENC_PRE>;
	};
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_xfer>;
	u-boot,dm-spl;

	vdd_cpu: tcs4525@1c {
		compatible = "tcs,tcs4525";
		reg = <0x1c>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "fan53555-reg";
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1180000>;
		regulator-init-microvolt = <900000>;
		regulator-ramp-delay = <2300>;
		fcs,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	pmic: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		u-boot,dm-spl;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l>;
		rockchip,system-power-controller;
		wakeup-source;

		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-name = "vdd_gpu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1000000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_npu: DCDC_REG4 {
				regulator-name = "vdd_npu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1000000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG5 {
				regulator-name = "vcc_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_image: LDO_REG1 {
				regulator-name = "vdda0v9_image";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-name = "vdda_0v9";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-name = "vdda0v9_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_acodec: LDO_REG4 {
				regulator-name = "vccio_acodec";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-name = "vccio_sd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-name = "vcc3v3_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca_1v8: LDO_REG7 {
				regulator-name = "vcca_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pmu: LDO_REG8 {
				regulator-name = "vcca1v8_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcca1v8_image: LDO_REG9 {
				regulator-name = "vcca1v8_image";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3: SWITCH_REG1 {
				regulator-name = "vcc_3v3";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_sd: SWITCH_REG2 {
				regulator-name = "vcc3v3_sd";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&otp {
	status = "okay";
};

&pinctrl {
	pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins = <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	camera {
		ucam_pins: ucam-pins {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>,
					<4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	edp {
		edp_en_gpio: edp-en-gpio {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lcd {
		lcd0_rst_gpio: lcd0-rst-gpio {
			rockchip,pins = <4 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	dsi1 {
		/* Reset 管脚: GPIO3_C1 */
		dsi1_rst_gpio: dsi1-rst-gpio {
			rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		/* 屏幕电源/LCD使能管脚: GPIO0_B5 (按板卡实际填) */
		lcd_pwr_gpio: lcd-pwr-gpio {
			rockchip,pins = <0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	backlight_pins {
		/* 背光 Enable 脚: GPIO4_C6 */
		bl_en_gpio: bl-en-gpio {
			rockchip,pins = <4 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pmu_io_domains {
	status = "okay";
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vcc_3v3>;
	vccio2-supply = <&vcc_1v8>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_3v3>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_1v8>;
	vccio7-supply = <&vcc_3v3>;
};

&io_domains {
	status = "disabled";
};

&tsadc {
	status = "okay";
	rockchip,hw-tshut-mode = <1>;
	rockchip,hw-tshut-polarity = <0>;
};

&soc_thermal {
	trips {
		cpu_target: cpu-target {
			temperature = <85000>;
			hysteresis = <2000>;
			type = "passive";
		};
	};

	cooling-maps {
		map0 {
			trip = <&cpu_target>;
			cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					 <&cpu1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					 <&cpu2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					 <&cpu3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
		};
	};
};

&rknpu {
	clocks = <&cru CLK_NPU>, <&cru ACLK_NPU>, <&cru HCLK_NPU>;
	clock-names = "clk", "aclk", "hclk";
	rknpu-supply = <&vdd_npu>;
	interrupt-names = "npu_irq";
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	power-off-delay-ms = <200>;
	status = "okay";

	gpu_power_model: power-model {
		compatible = "arm,mali-simple-power-model";
		static-coefficient = <100000>;
		dynamic-coefficient = <953>;
		ts = <(-108890) 63610 (-1355) 20>;
		thermal-zone = "gpu-thermal";
	};
};

&sdhci {
	bus-width = <8>;
	max-frequency = <200000000>;
	non-removable;
	supports-emmc;
	no-1-8-v;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_1v8>;
	assigned-clocks = <&cru BCLK_EMMC>, <&cru TCLK_EMMC>, <&cru CCLK_EMMC>;
	assigned-clock-rates = <200000000>, <24000000>, <200000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_datastrobe>;
	status = "okay";
};

&rkisp {
	status = "okay";
	memory-region = <&isp_reserved>;
};

&rkisp_mmu {
	status = "disabled";
};

&mipi_csi2_hw {
	status = "disabled";
};

&mipi_csi2 {
	status = "disabled";
};

&rkcif {
	status = "disabled";
};

&rkcif_mmu {
	status = "disabled";
};

&rkcif_mipi_lvds {
	status = "disabled";
};

&rkcif_mipi_lvds_sditf {
	status = "disabled";
};

&rkisp_vir0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			isp_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&csi_dphy1_out>;
			};
		};
	};
};

&mpp_srv {
	status = "okay";
	rockchip,grf = <&grf>;
	memory-region = <&isp_reserved>;
	power-domains = <&power RK3568_PD_VPU>;
};

&vpu {
	status = "disabled";
};

&rkvenc {
	// venc-supply = <&vdd_logic>;
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&rk_rga {
	status = "okay";
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "disabled";
};

&csi2_dphy1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy1_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&ucam_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy1_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp_in>;
			};
		};
	};
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m0_xfer>;

	ucam: camera@36 {
		compatible = "ovti,ov5695";
		reg = <0x36>;
		status = "okay";
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "TongJu";
		rockchip,camera-module-lens-name = "CHT842-MD";

		/* Polarity alignment with extracted.dts */
		reset-gpios = <&gpio4 13 1>; /* RK_PB5, ACTIVE_LOW */
		pwdn-gpios = <&gpio4 12 1>;  /* RK_PB4, ACTIVE_LOW */

		clocks = <&cru CLK_CIF_OUT>;
		clock-names = "xvclk";
		assigned-clocks = <&cru CLK_CIF_OUT>;
		assigned-clock-rates = <24000000>;
		power-domains = <&power RK3568_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&cif_clk>; /* Use standard CIF clock pinctrl */

		port {
			ucam_out: endpoint {
				remote-endpoint = <&csi_dphy1_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

&usb2phy1 {
	status = "okay";
};

&u2phy1_host {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

&usbhost_dwc3 {
	status = "okay";
};

&u2phy0_host {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usb2phy0 {
	status = "okay";
	phy-supply = <&vcc5v0_sys>;
};

&u2phy0_otg {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "otg";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
	snps,dis-u2-freeclk-exists-quirk;
	snps,dis_enblslpm_quirk;
	snps,dis-u1u2-quirk;
	snps,dis-del-phy-power-chg-quirk;
	snps,dis-tx-ipgap-linecheck-quirk;
	snps,dis_rxdet_inp3_quirk;
	snps,xhci-trb-ent-quirk;
};

&spi1 {
	status = "okay";
	pinctrl-names = "default", "high_speed";
	pinctrl-0 = <&spi1m0_cs0 &spi1m0_cs1 &spi1m0_pins>;
	pinctrl-1 = <&spi1m0_cs0 &spi1m0_cs1 &spi1m0_pins_hs>;
	dmas = <&dmac0 22>, <&dmac0 23>;
	dma-names = "tx", "rx";
	max-freq = <48000000>;

	spidev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};

	spidev@1 {
		compatible = "rockchip,spidev";
		reg = <1>;
		spi-max-frequency = <1000000>;
	};
};

&spi3 {
	status = "disabled";
	pinctrl-names = "default", "high_speed";
	pinctrl-0 = <&spi3m1_cs0 &spi3m1_pins>;
	pinctrl-1 = <&spi3m1_cs0 &spi3m1_pins_hs>;
	dmas = <&dmac0 26>, <&dmac0 27>;
	dma-names = "tx", "rx";
	max-freq = <48000000>;

	spidev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m0_xfer>;
	clock-frequency = <800000>;
};

&cpu0 {
	device_type = "cpu";
	clocks = <&cru ARMCLK>;
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu0_opp_table>;
	#cooling-cells = <2>;
	/delete-property/ cpu-idle-states;
};

&cpu1 {
	device_type = "cpu";
	clocks = <&cru ARMCLK>;
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu0_opp_table>;
	#cooling-cells = <2>;
	/delete-property/ cpu-idle-states;
};

&cpu2 {
	device_type = "cpu";
	clocks = <&cru ARMCLK>;
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu0_opp_table>;
	#cooling-cells = <2>;
	/delete-property/ cpu-idle-states;
};

&cpu3 {
	device_type = "cpu";
	clocks = <&cru ARMCLK>;
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu0_opp_table>;
	#cooling-cells = <2>;
	/delete-property/ cpu-idle-states;
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer>;
	dmas = <&dmac0 0>, <&dmac0 1>;
	dma-names = "tx", "rx";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer>;
	dmas = <&dmac0 2>, <&dmac0 3>;
	dma-names = "tx", "rx";
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m0_xfer>;
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m1_xfer>;
	dmas = <&dmac0 6>, <&dmac0 7>;
	dma-names = "tx", "rx";
};

&pwm4 {
	status = "disabled";
};

&pwm5 {
	status = "okay";
};

&edp {
	force-hpd;
	status = "disabled";

	ports {
		port@1 {
			reg = <1>;

			edp_out_panel: endpoint {
				remote-endpoint = <&panel_in_edp>;
			};
		};
	};
};

&edp_phy {
	status = "disabled";
};

&edp_in_vp0 {
	status = "disabled";
};

&edp_in_vp1 {
	status = "disabled";
};

&route_edp {
	connect = <&vp0_out_edp>;
	status = "disabled";
};

&hdmi {
	status = "disabled";
};

&route_hdmi {
	status = "disabled";
};

&dsi0 {
	status = "disabled";
};

&video_phy0 {
	status = "disabled";
};

&dsi0_in_vp0 {
	status = "disabled";
};

&route_dsi0 {
	status = "disabled";
};

&dsi1 {
	status = "okay";
	rockchip,lane-rate = <480>;

	dsi1_panel: panel@0 {
		status = "okay";
		compatible = "simple-panel-dsi";
		reg = <0>;
		bpc = <8>;
		power-supply = <&vcc3v3_sys>;

		/* GPIO 关联 */
		reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;   // 屏幕 Reset
		enable-gpios = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;  // 屏幕 Power/Enable (可选)

		pinctrl-names = "default";
		pinctrl-0 = <&dsi1_rst_gpio &lcd_pwr_gpio>;

		/* 关联背光节点 */
		backlight = <&backlight>;

		/* U-Boot 留空时，内核冷启动必须配足的关键延时 */
		reset-delay-ms = <10>;    // Reset 脚保持低电平时间 >= 10ms
		enable-delay-ms = <120>;  // 上电/Reset 拉高后面板内部芯片准备时间 >= 120ms
		init-delay-ms = <120>;    // 新增：复位拉高后至发送初始化序列前的延时
		prepare-delay-ms = <20>;  // 发送 init-sequence 之前的延迟
		unprepare-delay-ms = <20>;
		disable-delay-ms = <50>;

		/* DSI 传输模式 */
		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
			MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_NO_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes  = <4>;

		/* 初始化指令序列... (保持之前的 panel-init-sequence) */
		panel-init-sequence = [
			39 00 04 FF 98 81 03
			15 00 02 01 00
			15 00 02 02 00
			15 00 02 03 73
			15 00 02 04 13
			15 00 02 05 00
			15 00 02 06 0A
			15 00 02 07 05
			15 00 02 08 00
			15 00 02 09 28
			15 00 02 0A 00
			15 00 02 0B 00
			15 00 02 0C 00
			15 00 02 0D 28
			15 00 02 0E 00
			15 00 02 0F 28
			15 00 02 10 28
			05 00 01 11
			15 00 02 12 00
			15 00 02 13 00
			15 00 02 14 00
			15 00 02 15 00
			15 00 02 16 00
			15 00 02 17 00
			15 00 02 18 00
			15 00 02 19 00
			15 00 02 1A 00
			15 00 02 1B 00
			15 00 02 1C 00
			15 00 02 1D 00
			15 00 02 1E 40
			15 00 02 1F 80
			15 00 02 20 06
			15 00 02 21 01
			15 00 02 22 00
			15 00 02 23 00
			15 00 02 24 00
			15 00 02 25 00
			15 00 02 26 00
			15 00 02 27 00
			15 00 02 28 33
			15 00 02 29 33
			15 00 02 2A 00
			15 00 02 2B 00
			15 00 02 2C 04
			15 00 02 2D 04
			15 00 02 2E 05
			15 00 02 2F 05
			15 00 02 30 00
			15 00 02 31 00
			15 00 02 32 31
			15 00 02 33 00
			15 00 02 34 00
			15 00 02 35 0A
			15 00 02 36 00
			15 00 02 37 08
			15 00 02 38 00
			15 00 02 39 00
			15 00 02 3A 00
			15 00 02 3B 00
			15 00 02 3C 00
			15 00 02 3D 00
			15 00 02 3E 00
			15 00 02 3F 00
			15 00 02 40 00
			15 00 02 41 00
			15 00 02 42 00
			15 00 02 43 08
			15 00 02 44 00
			15 00 02 50 01
			15 00 02 51 23
			15 00 02 52 44
			15 00 02 53 67
			15 00 02 54 89
			15 00 02 55 AB
			15 00 02 56 01
			15 00 02 57 23
			15 00 02 58 45
			15 00 02 59 67
			15 00 02 5A 89
			15 00 02 5B AB
			15 00 02 5C CD
			15 00 02 5D EF
			15 00 02 5E 11
			15 00 02 5F 02
			15 00 02 60 08
			15 00 02 61 0E
			15 00 02 62 0F
			15 00 02 63 0C
			15 00 02 64 0D
			15 00 02 65 17
			15 00 02 66 01
			15 00 02 67 01
			15 00 02 68 02
			15 00 02 69 02
			15 00 02 6A 00
			15 00 02 6B 00
			15 00 02 6C 02
			15 00 02 6D 02
			15 00 02 6E 16
			15 00 02 6F 16
			15 00 02 70 06
			15 00 02 71 06
			15 00 02 72 07
			15 00 02 73 07
			15 00 02 74 02
			15 00 02 75 02
			15 00 02 76 08
			15 00 02 77 0E
			15 00 02 78 0F
			15 00 02 79 0C
			15 00 02 7A 0D
			15 00 02 7B 17
			15 00 02 7C 01
			15 00 02 7D 01
			15 00 02 7E 02
			15 00 02 7F 02
			15 00 02 80 00
			15 00 02 81 00
			15 00 02 82 02
			15 00 02 83 02
			15 00 02 84 16
			15 00 02 85 16
			15 00 02 86 06
			15 00 02 87 06
			15 00 02 88 07
			15 00 02 89 07
			15 00 02 8A 02
			39 00 04 FF 98 81 04
			15 00 02 6E 1A
			15 00 02 6F 37
			15 00 02 3A A4
			15 00 02 8D 1F
			15 00 02 87 BA
			15 00 02 B2 D1
			15 00 02 88 0B
			15 00 02 38 01
			15 00 02 39 00
			15 00 02 B5 02
			15 00 02 31 25
			15 00 02 3B 98
			39 00 04 FF 98 81 01
			15 00 02 22 0A
			15 00 02 31 00
			15 00 02 53 53
			15 00 02 55 3D
			15 00 02 50 9E
			15 00 02 51 99
			15 00 02 60 06
			15 00 02 62 20
			15 00 02 A0 00
			15 00 02 A1 17
			15 00 02 A2 26
			15 00 02 A3 13
			15 00 02 A4 16
			15 00 02 A5 29
			15 00 02 A6 1E
			15 00 02 A7 1F
			15 00 02 A8 8B
			15 00 02 A9 1D
			15 00 02 AA 2A
			15 00 02 AB 7B
			15 00 02 AC 1A
			15 00 02 AD 19
			15 00 02 AE 4E
			15 00 02 AF 24
			15 00 02 B0 29
			15 00 02 B1 4F
			15 00 02 B2 5C
			15 00 02 B3 3E
			15 00 02 C0 00
			15 00 02 C1 17
			15 00 02 C2 26
			15 00 02 C3 13
			15 00 02 C4 16
			15 00 02 C5 29
			15 00 02 C6 1E
			15 00 02 C7 1F
			15 00 02 C8 8B
			15 00 02 C9 1D
			15 00 02 CA 2A
			15 00 02 CB 7B
			15 00 02 CC 1A
			15 00 02 CD 19
			15 00 02 CE 4E
			15 00 02 CF 24
			15 00 02 D0 29
			15 00 02 D1 4F
			15 00 02 D2 5C
			15 00 02 D3 3E
			39 00 04 FF 98 81 00
			05 78 01 11
			05 00 01 29
			15 00 02 35 00
		];

		panel-exit-sequence = [
			05 00 01 28
			05 00 01 10
		];

		disp_timings1: display-timings {
			native-mode = <&dsi1_timing0>;
			dsi1_timing0: timing0 {
				clock-frequency = <66000000>;
				hactive = <800>;
				vactive = <1280>;
				hfront-porch = <18>;
				hsync-len = <12>;
				hback-porch = <18>;
				vfront-porch = <24>;
				vsync-len = <4>;
				vback-porch = <12>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <1>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi1: endpoint {
					remote-endpoint = <&dsi1_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi1_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi1>;
			};
		};
	};
};

&video_phy1 {
	status = "okay";
};

&dsi1_in_vp1 {
	status = "okay";
};

&route_dsi1 {
	connect = <&vp1_out_dsi1>;
	status = "okay";
};

&vop {
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&cru PLL_GPLL>, <&cru PLL_VPLL>;
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&gpio0 {
	camera-power-hog {
		gpio-hog;
		gpios = <8 0>; /* GPIO0_B0 (RK_PB0) */
		output-high;
		line-name = "camera-power-on";
	};
};


