# CONFIG_ROCKCHIP_RESOURCE_IMAGE is not set
# CONFIG_USING_KERNEL_DTB is not set
# CONFIG_SCMI_FIRMWARE is not set
# CONFIG_CLK_SCMI is not set
# CONFIG_RESET_SCMI is not set
# CONFIG_DM_DMC is not set
# CONFIG_ROCKCHIP_DMC_FSP is not set
# CONFIG_OPTEE_CLIENT is not set
# CONFIG_OPTEE_V2 is not set
# CONFIG_OPTEE_ALWAYS_USE_SECURITY_PARTITION is not set
# CONFIG_OPTEE_SECURITY_LEVEL is not set

CONFIG_CLK_ROCKCHIP_RK3568=y
CONFIG_RESET_ROCKCHIP_RK3568=y
CONFIG_PMIC_RK8XX=y
CONFIG_REGULATOR_RK8XX=y
